- var projects = [
-   {
-       id: '1',
-       images: {
-           big: require('images/content/project.jpg'),
-           small: require('images/content/project_small_1.jpg'),
-       },
-       title: 'Проект #1',
-       desc: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца ' +
-             'только самых тяжелых испытаний и бессонных ночей!',
-       tags: ['HTML', 'CSS', 'JavaScript'],
-       link: {
-           url: 'https://github.com/vgagarkin',
-           text: 'Подробнее'
-       }
-   },
-   {
-       id: '2',
-       images: {
-           big: require('images/content/project.jpg'),
-           small: require('images/content/project_small_2.jpg'),
-       },
-       title: 'Проект #2',
-       desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at culpa deserunt est laudantium ' +
-              'modi nihil non qui, sed voluptatum.',
-       tags: ['HTML', 'CSS', 'JavaScript'],
-       link: {
-           url: 'https://github.com/vgagarkin',
-           text: 'Посмотреть'
-       }
-   },
-   {
-       id: '3',
-       images: {
-           big: require('images/content/project.jpg'),
-           small: require('images/content/project_small_3.jpg'),
-       },
-       title: 'Проект #3',
-       desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at culpa deserunt est laudantium ' +
-              'modi nihil non qui, sed voluptatum.',
-       tags: ['HTML', 'CSS', 'JavaScript'],
-       link: {
-           url: 'https://github.com/vgagarkin',
-           text: 'Открыть'
-       }
-   },
-   {
-       id: '4',
-       images: {
-           big: require('images/content/project.jpg'),
-           small: require('images/content/project_small_4.jpg'),
-       },
-       title: 'Проект #4',
-       desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at culpa deserunt est laudantium ' +
-              'modi nihil non qui, sed voluptatum.',
-       tags: ['HTML', 'CSS', 'JavaScript'],
-       link: {
-           url: 'https://github.com/vgagarkin',
-           text: 'Ссылка'
-       }
-   },
- ]


section.projects
    .wrapper
        h2.projects__title.title Мои работы
        .projects__list
            span.projects__project-number 1
            ul.projects__slides
                each project, item in projects
                    img.projects__slide(src=project.images.big alt= project.title class=item === 0 ? 'show' : '')
                ul.projects__thumbnails
                    each project, item in projects
                        button.projects__thumbnail-item(style=`background-image: url('${project.images.small}')` type='button' data-value=project.id class=item === 0 ? 'active' : '')
                .projects__controls
                    button.projects__control-next(data-value='-1' type='button')
                        +icon('arrow-down', 'projects__control-icon')
                    button.projects__control-prev(data-value='1' type='button')
                        +icon('arrow-down', 'projects__control-icon')
            .projects__content
                each project, item in projects
                    .projects__content-wrapper(class=item === 0 ? 'show' : '')
                        ul.projects__tags
                            each tag in project.tags
                                li.projects__tag #{tag}
                        h5.projects__about-title.title #{project.title}
                        p.projects__about-description.text #{project.desc}
                        a.projects__link.link(href= project.link.url target="_blank" title=`Смотреть ${project.title}`)
                            +icon('link', 'link-icon')
                            | #{project.link.text}