mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin nav(className, mod, items)
  nav(class=`${className} ${className}--${mod}`)
    ul(class=`${className}__list`)
      each navItem in items
        li(class=`${className}__item`)
          a(class=`${className}__link` href=`${navItem.link}`)= navItem.linkText